# DeepSeek Chat
deepseek_chat/

# 忽略 Python 编译文件
__pycache__/
*.py[cod]

# 忽略虚拟环境文件夹
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# 忽略 IDE 配置文件
.idea/
.vscode/
.spyderproject
.spyproject
.ropeproject

# 忽略日志文件
*.log

# 忽略数据库文件
db.sqlite3
*.sqlite3
*.db

# 忽略 dist 文件夹
dist/
